@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.background-container {
    height: 1550px;
    background-color: #F5F7F2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-container {
    /* height: 1560px; */
    height: 1600px;
    width: 70%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-bar {
    height: 80px;
    padding: 0px 50px 0px 50px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#local_dining {
    color: #00ff11;
    font-size: 30px;
}

#heading {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    margin: 0px 0px 0px 10px;
}

.right-nav-buttons {
    display: flex;
    flex-direction: row;
}

#share-button {
    background-color: #F3F4F6;
    border-radius: 10px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#share-button:hover {
    background-color: rgba(0, 255, 21, 0.25);
    cursor: pointer;
}

#share-icon {
    color: #374151;
    font-size: 24px;
}

#bookmark-button {
    background-color: #F3F4F6;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bookmark-button:hover {
    background-color: rgba(0, 255, 21, 0.25);
    cursor: pointer;
}

#bookmark-icon {
    color: #374151;
    font-size: 24px;
}

.image-container {
    height: 400px;
    width: 90%;
    padding: 20px 20px 25px 20px;
    margin: 20px 20px 20px 35px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url("/assets/image.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container-items {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    position: relative;
    left: 20px;
}

#dinner-classic {
    height: 30px;
    width: 160px;
    background-color: #000000;
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipe-text {
    font-size: 50px;
    font-weight: 800;
}

#recipe-subtext {
    font-size: 18px;
    font-weight: 600;
}

.details-container {
    height: 150px;
    width: 95%;
    position: relative;
    left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.details-container-items {
    background-color: #f5f7f2a3;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    height: 90%;
    width: 33%;
    padding-left: 20px;
    margin: 5px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

#top-items-of-prep {
    position: relative;
    bottom: 10px;
}

#timer-icon {
    color: #00ff11;
    font-size: 28px;
}

#prep-text {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    bottom: 8px;
}

#bottom-items-of-prep {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    left: 5px;
}

#top-items-of-cook {
    position: relative;
    bottom: 10px;
}

#alarm-icon {
    color: #00ff11;
    font-size: 28px;
}

#cook-text {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    bottom: 8px;
}

#bottom-items-of-cook {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    left: 5px;
}

#top-items-of-servings {
    position: relative;
    bottom: 10px;
}

#group-icon {
    color: #00ff11;
    font-size: 28px;
}

#servings-text {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    bottom: 8px;
}

#bottom-items-of-servings {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.text-container {
    height: 800px;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
}

#ingredients-container {
    height: 800px;
    width: 40%;
    position: relative;
    top: 10px;
    left: 30px;
}

#grocery-icon {
    color: #00ff11;
    font-size: 28px;
}

#ingredients-text {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.bottom-part-of-ingredients {
    color: #6B7280;
    word-spacing: 2px;
    line-height: 40px;
    position: relative;
    top: 10px;
}

#instructions-container {
    height: 700px;
    width: 50%;
    position: relative;
    top: 10px;
    left: 30px;
}

#menu_book-icon {
    color: #00ff11;
    font-size: 30px;
}

#instructions-text {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.bottom-part-of-instructions {
    height: 800px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.steps-icon {
    height: 30px;
    width: 30px;
    margin: 0px 20px 0px 0px ;
    border-radius: 50%;
    color: #00a80b;
    background-color: rgba(0, 255, 17, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#step1-icon {
    position: relative;
    top: 0px;
}

#step2-icon {
    position: relative;
    top: 98px;
}

#step3-icon {
    position: relative;
    top: 195px;
}

#step4-icon {
    position: relative;
    top: 294px;
}

#step5-icon {
    position: relative;
    top: 368px;
}

.steps-heading {
    font-size: 18px;
    font-weight: 600;
}

.steps-subheading {
    color: #6B7280;
    margin: 5px 0px 15px 0px;
    font-size: 18px;
    font-weight: 400;
}